[Unit]
Description=Switch 2 Pro Controller BLE-to-UHID Bridge
Conflicts=bluetooth.service
After=network-online.target
Before=kodi.service

[Service]
Type=simple
ExecStart=/storage/switch2-bt/sw2d_final --auto-scan --peer-addr-type auto --own-addr-type public
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
